
</html><!DOCTYPE html>
<!--[if IEMobile 7]><html xmlns:wb="http://open.weibo.com/wb" class="no-js ie iem7" lang="en" dir="ltr"><![endif]-->
<!--[if lte IE 6]><html xmlns:wb="http://open.weibo.com/wb" class="no-js ie lt-ie9 lt-ie8 lt-ie7" lang="en" dir="ltr"><![endif]-->
<!--[if (IE 7)&(!IEMobile)]><html xmlns:wb="http://open.weibo.com/wb" class="no-js ie lt-ie9 lt-ie8" lang="en" dir="ltr"><![endif]-->
<!--[if IE 8]><html xmlns:wb="http://open.weibo.com/wb" class="no-js ie lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><html xmlns:wb="http://open.weibo.com/wb" class="no-js ie" lang="en" dir="ltr" prefix="fb: http://ogp.me/ns/fb# og: http://ogp.me/ns# article: http://ogp.me/ns/article# book: http://ogp.me/ns/book# profile: http://ogp.me/ns/profile# video: http://ogp.me/ns/video# product: http://ogp.me/ns/product#"><![endif]-->
<!--[if !IE]><!--><!--<![endif]-->
<head>
<html>
  <head>
  <title>DJ MAG 2018 Prediction</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="djmag.css" type="text/css">
  </head>
  <body>
    <p>
		<h1>DJ MAG 2018 Pre.</h1>
    </p>
	<p>
		<h2>You can chage their destinies!</h2>
	</p>
	<p>
		<h3>Select your 'Favorite' and 'Next Generation' DJs</h3>
	</p>
	
	</p>
  </body>
</html>

</div>

</div>
</div>
<div class="_article--header--sidebar">
<div class="panel-pane pane-djmag-top100-content-year top100-scrolling-list-wrap">
<div class="view view-top100djs view-id-top100djs view-display-id-ctools_context_4 view-dom-id-d48c86a97f7d1240d094e0e3748d232d">
<div class="view-content">
<div class="container_with_line" id="60192">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24613--2">
<figure class="media--image_top100_no1">
<img class="media--image_top100_no1--image_top100_no1" src="https://djmag.com/sites/default/files/styles/djmag_landscape__691x372_/public/top100/djs/image/RachelKaplan-1899.jpg?itok=DjzskrbC" width="691" height="372"> <figcaption class="media--image_top100_no1--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">1 Martin Garrix</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60191">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-29954">
<figure class="media--image_top100_no1">
<img class="media--image_top100_no1--image_top100_no1" src="https://djmag.com/sites/default/files/styles/djmag_landscape__691x372_/public/top100/djs/image/DVLM_2018_04_white.png?itok=kN7JWm9X" width="691" height="372"> <figcaption class="media--image_top100_no1--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">2 Dimitri Vegas &amp; Like Mike</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60190">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24610">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/03.jpg?itok=1LIKOHza" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">3 Armin Van Buuren</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60189">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24609">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/04%20Hardwell%20def%20-%20Krijn%20van%20Noordwijk_compressed2.jpg?itok=Js0nFVcS" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">4 Hardwell</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60187">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24607">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/5%20-%20TIESTO.jpg?itok=cQi63D89" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">5 Tiësto</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60185">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24605">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/06.jpg?itok=XsGtoZ6Y" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">6 The Chainsmokers</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60178">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24844">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/19-7676.jpg?itok=Mr0Fu7Er" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">7 David Guetta</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60174">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24591">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/08%20Afrojack%20x72913.jpg?itok=6qRqwQb3" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">8 Afrojack</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60170">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24587">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/aoki-best.jpg?itok=4GucpZsP" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">9 Steve Aoki</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60166">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24582">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/10%20-%20MARSHMELLO.jpg?itok=i2U-JQej" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">10 Marshmello</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60158">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24574">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/657951459332202.jpg?itok=VkXldjdv"width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">11 Don Diablo</div> </div>
<div> <div> </a></div> </div> </article>
</div>
<div class="container_with_line" id="60154">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24566">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/12_KSHMR2.jpg?itok=pEZuNMrr"width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">12 KSHMR</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60152">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24564">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/13%20-%20OLIVER%20HELDENS.jpg?itok=cftje4nn" width="691" height="372"></a> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">13 Oliver Heldens</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60150">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24561">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/14_WandW2.jpg?itok=y4utAXut"width="691" height="372"><figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">14 W&amp;W</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60148">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24559">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/15%20-%20CALVIN%20HARRIS.jpg?itok=DWL4NcoC" width="691" height="372"><figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">15 Calvin Harris</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60143">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24554">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/8-Skrillex-cr-Jason-Nocito-press-dj-real-names-billboard-1548.jpg?itok=zePlXLqv"width="691" height="372"> <figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">16 Skrillex</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60140">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24552">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/alan-walker-press-cr-Rikkard-Haggbom-2016-billboard-1548.jpg?itok=rJ7VH4px" width="691" height="372"><figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">17 Alan Walker</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60136">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24547">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/r3hab-press-photo-cr-Dan-Dealy-2017-billboard-1548.jpg?itok=m4aNDh4t"width="691" height="372"><figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">18 R3hab</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60129">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24542">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/19%20-%20ALOK.jpg?itok=APhTHZsV" width="691" height="372"><figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">19 Alok</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60127">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><div class="media" id="file-24540">
<figure class="media--image">
<img src="https://djmag.com/sites/default/files/styles/djmag_landscape/public/top100/djs/image/20_DashBerlin2.jpg?itok=0jRvbrgf"width="691" height="372"><figcaption class="media--image--caption">
</figcaption>
</figure>
</div>
</a></div> </div>
<div class="views-field views-field-field-top100-position"> <div class="field-content">20 Dash Berlin</div> </div>
<div> <div></a></div> </div> </article>
</div>
<div class="container_with_line" id="60124">
<article>
<div class="views-field views-field-field-media"> <div class="field-content"><a href="/top-100-djs/poll-2017-axwell-ingrosso"><div class="media" id="file-24534">
<figure class="media--image">



</div> </div>

   
  </script></body>
</html>
